{% extends "base.html" %}
{% block title %}Flasky{% endblock title %}

{% block page_content %}
<div class = "page-header">
  <h1>Hello World!</h1>

  <!-- 3.6 current_time 렌더링 -->
  <!-- format('LLL')은 클라이언트 컴퓨터에 설정되어 있는 시간대와 위치에 따라 날짜와 시간을 렌더링 합니다. -->
  <p>The local date and time is {{moment(current_time).format("LLL")}}.</p>
  <!-- fromNow() 렌더링 스타일은 상대 타임스탬프를 렌더링하고 넘겨진 시간에 따라 자동으로 리프레쉬합니다. -->
  <p>That was {{moment(current_time).fromNow(refresh = True)}}</p>
  {{moment.lang('es')}}

</div>
{% endblock page_content %}
